{% extends 'auctions/layout.html' %}

{% block title %}Bid{% endblock title %}

{% block body %}
{% if user.is_authenticated %}
{% if value_error %}
<div class="alert alert-danger" role="alert">
    Your bid must be at least as large as starting bid and must be greater than any other offers (if any).
</div>
{% endif %}
{% if listing.author != user %}
<div style="display: flex">
    <div style="flex: 1;">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
    </div>
    <div style="flex: 1;">
        <button type="submit" class="btn btn-primary" style="margin-left: 10px; margin-bottom: 10px">Place</button>
    </div>
    </form>
</div>
{% endif %}
{% if listing.author == user %}
<div class="alert alert-warning" role="alert">
    You can't bid on this item because you are creator of its auction listing!
</div>
{% endif %}
<div class="card" style="width: 360px">
    <div class="card-header">All Bids ({{ bid_count }}); Starting bid = ${{ listing.starting_bid }}</div>
    {% for bid in listing.bids.all %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ bid.author }} - ${{ bid.offer }} {{ bid.date }}</li>
        {% empty %}
        <li class="list-group-item">No bids has been placed yet.</li>
    </ul>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    You can't bid on this item because you are the creator of that listing!
</div>
{% endif %}
{% endblock body %}