{% extends 'auctions/layout.html' %}

{% block title %}Bid{% endblock title %}

{% block body %}
    {% if user.is_authenticated and listing.author != user %}
    {% if value_error %}
    <div class="alert alert-danger" role="alert">
        Your bid must be at least as large as starting bid: ${{ listing.starting_bid }} and must be greater than any other offers (if any).
    </div>
    {% endif %}
        <h1>Place Bid</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Place</button>
        </form>
        <div class="card" style="width: 350px">
            <div class="card-header">All Bids ({{ bid_count }})</div>
            {% for bid in listing.bids.all %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ bid.author }} - ${{ bid.offer }} {{ bid.date }}</li>
                    {% empty %}
                <li class="list-group-item">No bids has been placed yet.</li>
                </ul>
            {% endfor %}
          </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        You can't bid on this item because you are the creator of that listing!
    </div>
    {% endif %}
{% endblock body %}