{% extends "auctions/layout.html"%}

{% block title %}{{ listing.title }}{% endblock title %}

{% block body %}
<div class="wrapper" style="height: 390px;">
    <div class="row" style="height: 500px; padding: 0 20px ; margin-left: 250px;">
        <div class="col-xs-4">
        {% if listing.image_url %}
            <img src="{{ listing.image_url }}" alt="Card image cap" style="width: 370px; height: 352px; margin-top: 14px;">
        {% else %}
            <div class="p-3">
                <img src="static/auctions/not-found.png" alt="No-image" style="height: 350px;">
            </div>
        {% endif %}
        </div>
        <div class="col-xs-4 border border-secondary" style="padding-left: 20px; width: 300px; height: 350px; margin-top: 15px ;padding-top: 20px; margin-left: 10px; display: inline-block;">
            <h4 class="card-title">Listing: {{ listing.title }}</h4>    
            <p class="card-text">Description: {{ listing.description }}</p>
            <p class="card-text">Starting Price: ${{ listing.starting_bid }} | <a href="{% url 'bid' listing.id %}">Bid on this item</a></p>
            <h5>Details</h5>
            <ul>
                <li>Listed by: {{ listing.author }}</li>
                <li>Category: {{ listing.category }}</li>
            </ul>
            <a href="{% url 'index' %}">Back to all listings</a>
        </div>
    </div>    
</div>
<div class="col" style="margin-left: 270px">
    {% if user.is_authenticated %}
        <form action="{% url 'comment' listing.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <button type="submit">Add</button>
        </form>
    {% endif %}
    Comments: ({{ comment_count }})
    {% for comment in comments %}
        {{ comment.author }} {{ comment }} {{ comment.date }}
    {% endfor %}
</div>

{% endblock %}