{% extends "auctions/layout.html"%}

{% block title %}{{ listing.title }}{% endblock title %}

{% block body %}
<div class="wrapper">
    <div class="row" style="height: 500px; padding: 0 20px ; margin-left: 250px;">
        <div class="col-xs-4">
        {% if listing.image_url %}
            <img src="{{ listing.image_url }}" alt="Card image cap" style="width: 400px; height: 500px">
        {% else %}
            <div class="p-3">
                <img src="static/auctions/not-found.png" alt="No-image" style="height: 350px;">
            </div>
        {% endif %}
        </div>
        <div class="col-xs-4 border border-secondary" style="padding-left: 20px; width: 300px; height: 350px; margin-top: 15px ;padding-top: 20px; margin-left: 10px; display: inline-block;">
            <strong>
                <h5 class="card-title">Listing: {{ listing.title }}</h5>
            </strong>
            <p class="card-text">Description: {{ listing.description }}</p>
            <p class="card-text">Starting Price: ${{ listing.starting_bid }}</p>
            <a href="{% url 'index' %}">Back to all listings.</a>
        
            {% for bid in listing.bids.all %}
                {{ bid.author }} {{ bid.offer }}
            {% endfor %}
            {% for comment in listing.comments.all %}
                {{ comment }} {{ comment.author }} {{ comment.date }}
            {% endfor %}    
        </div>
    </div>    
</div>
{% endblock %}