{% extends "auctions/layout.html"%}

{% block title %}{{ listing.title }}{% endblock title %}

{% block body %}
<div class="wrapper">
    <div class="row" style="height: 500px; padding: 60px; margin-left: 150px;">
        <div class="col-xs-4">
        {% if listing.image_url %}
            <img src="{{ listing.image_url }}" alt="Card image cap" style="width: 400px; height: 500px">
        {% else %}
            <div class="h-100 p-3 border border-secondary" style="width: 550px;">
                <p class="text-center" style="padding-top: 120px; font-size: 50px;">No Image Found</p>
            </div>
        {% endif %}
        </div>
        <div class="col-xs-4 border border-primary text-center align-middle" style="width: 300px; padding-top: 30px; margin-left: 10px; display: inline-block;">
            <strong>
                <h5 class="card-title">Listing: {{ listing.title }}</h5>
            </strong>
            <p class="card-text">Description: {{ listing.description }}</p>
            <p class="card-text">Starting Price: ${{ listing.starting_bid }}</p>
            <a href="{% url 'index' %}">Back to all listings.</a>
        
            {% for bid in listing.bids.all %}
                {{ bid.author }} {{ bid.offer }}
            {% endfor %}
            {% for comment in listing.comments.all %}
                {{ comment }} {{ comment.author }} {{ comment.date }}
            {% endfor %}    
        </div>
    </div>    
</div>
{% endblock %}